.side-nav{
    border: 2px solid black;
   
  background-color: rgb(6 34 48);
min-height: 100vh;
max-width: 15vw;
border: none;
position: sticky;
top: 0;

}

h1{
    color: aliceblue;
    margin-left: 20px;
    margin-top: 11px;
    font-family:fantasy;
   

}