<body>
    <div class="nav-container">

        <nav>
            <mat-toolbar style="background-color: rgb(30, 29, 29);">
                <h1>Theaters Portal</h1>
            </mat-toolbar>
        </nav>



        <mat-sidenav-container>
            <mat-sidenav opened>
                <mat-nav-list style="200px">
                    <a mat-list-item>Dashboard</a>
                </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content>
                <p style="height: 88vh;">

                </p>
            </mat-sidenav-content>
        </mat-sidenav-container>



    </div>
</body>