<body>
<div class="grid-container2">

  <button mat-dialog-close type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="grids">
    <h1 class="tittle"><strong>{{ theater.theater_name }}</strong></h1>
  </div>
  <div class="grids">
    <div class="description">
      
      <p><strong>Theater Capacity:</strong> {{ theater.theater_capacity }}</p>
      <p><strong>Theater Location:</strong> {{ theater.theater_location }}</p>
      <p><strong> Movie List-</strong> Leo, Jailer</p>
      <p><strong>Time -</strong> 8:00 AM, 10:00 AM, 2:00 PM, 7:00 PM</p>
      <p><strong>Theater Screen -</strong> {{theater.theater_screen}}</p>
    </div>
    
    <!-- <button class="close" mat-raised-button mat-dialog-close="" color="primary">Close</button> -->
  </div>
  
</div>

</body>



